<% @posts.each do |post| %>
  <div class="row list">
    <h2><%= link_to post.title, post %></h2>
    <div>by<strong> <%= post.user.name %></strong> | <small>Submitted <strong><%= time_ago_in_words(post.created_at) %> ago</strong></small>
        <ul class="list-inline pull-right">
          <li><span class="text-primary"><i class="glyphicon glyphicon-comment"></i> <%= post.comments.count %></span></li>
          <li><span class="text-success"><i class="glyphicon glyphicon-thumbs-up"></i> <%= post.get_upvotes.size %> </span></li>
          <li><span class="text-danger"><i class="glyphicon glyphicon-thumbs-down"></i> <%= post.get_downvotes.size %> </span></li>
        </ul>
    </div>
  </div>
<% end %>