<div id="sider" class="page_wrapper">
  <p class="section">WEBSITE</p>
  <ul class="list-unstyled">
    <li><%= link_to 'All Post', posts_path %></li>
    <li><%= link_to 'About Me', page_path('about_me') %></li>
  </ul>
  <br>
  <p class="section">SOCITAL</p>
  <ul class="list-unstyled">
    <li><%= link_to 'Twitter', 'https://twitter.com/DotHide' %></li>
    <li><%= link_to 'Ruby-China', 'https://ruby-china.org/dothide' %></li>
    <li><%= link_to 'Email', 'mailto:dothide@gmail.com' %></li>
  </ul>
</div>