<!DOCTYPE html>
<html>
<head>
  <title>DotHide's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="col-sm-3">
      <div id="sider" class="page_wrapper">
        <p class="section">WEBSITE</p>
        <ul class="list-unstyled">
          <li><%= link_to 'All Post', posts_path %></li>
          <li><%= link_to 'About Me', page_path('about_me') %></li>
        </ul>
        <br>
        <p class="section">SOCITAL</p>
        <ul class="list-unstyled">
          <li><%= link_to 'Twitter', 'https://twitter.com/DotHide' %></li>
          <li><%= link_to 'Ruby-China', 'https://ruby-china.org/dothide' %></li>
          <li><%= link_to 'Email', 'mailto:dothide@gmail.com' %></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="header">
        <div class="row">
          <p class="pull-left">
            <%= link_to root_path, { class: 'btn btn-sm btn-default' } do %>
              DotHide's Blog <strong class="text-success">offical</strong>
            <% end -%>
          </p>
          <p class="pull-right">
            <% if user_signed_in?%>
              <%= link_to edit_user_registration_path(current_user), class: 'btn btn-sm btn-primary' do %>
                Hi, <strong><%= current_user.name %>!</strong> 
              <% end -%>
              <% if current_user.owner %>
                <%= link_to 'New Post', new_post_path, { class: 'btn btn-sm btn-primary' } %> 
              <% end -%>
              <%= link_to 'Log out', destroy_user_session_path,  { :method => :delete, class: 'btn btn-sm btn-default' } %>
            <% else %>
              <%= link_to 'Sign up', new_user_registration_path, { class: 'btn btn-sm btn-default' } %>
              <%= link_to 'Sign in', new_user_session_path, { class: 'btn btn-sm btn-default' } %>
            <% end -%>
          </p>
        </div>
      </div>
      <div class="content-wrapper">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info") %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?887b139a4809ff17949d91d1757b1bdd";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</body>
</html>
